


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


.fullbody{
  font-family: "Poppins", sans-serif;
  height: fit-content;
  width: 100vw;
  background-color: black;
  color: white;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navig{
  height: 100px;
  width: fit-content;
  background-color:rgb(46, 44, 44);
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  font-size: 50px;
  border-color: rgb(62, 176, 246);
  border-style:groove;
  color:white;
  margin-left: 30px;
}

.top_help{
  height: 100px;
  width: 100vw;
  background-color:rgb(46, 44, 44);
  display: flex;
  align-items: center;
  display:flex;
  flex-direction: column;
  font-size: 50px;
  border-color: rgb(62, 176, 246);
  border-style:groove;
  color: white;
}

.tag{
  font-size: 14px;
  margin-top: 40px;
}

.navig_support{
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 50px;
  background-color:rgb(80, 78, 78); 
  margin-top: 0px;
}

.footer{
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 50px;
  background-color:rgb(80, 78, 78); 
  margin-top: 0px;
  align-items: center;
  justify-content: center;
}

.main_controls{
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 20px;
}

.user_andinfo{
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: end;
}

.intro{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 80vw;
  height: 500px;
}

.intro_left{
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.intro_right{
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  align-items: center;
  justify-content: center;
}


.logout_butt{
  background-color: rgb(62, 176, 246);
  width: 100px;
  border-radius: 5px;
}

.logout_butt:hover{
  border: 1px solid white;
  transition: 0.5ms ease-in;
}

.profsum_cont{
  display: flex;
  flex-direction: column;
  width: 425px;
  height: 215px;
  border-radius: 15px;
  background-color: rgb(62, 176, 246);
  align-items: center;
  justify-content: center;
}

.profsum{
  display: flex;
  flex-direction: row;
  width: 420px;
  height: 210px;
  border-radius: 15px;
  background-color:  rgb(46, 44, 44);
  
}

.profsum_left{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profsum_right{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  text-align: left;
}

#pruh{
  font-size: 25px;
}

.profsumico{
  width:150px;
  height: 150px;
  background-color: white;
  border-radius: 100px;
}
#ico2{
  height: 150px;
}














#p1{
  margin-top: 30px;
}

#p2{
  margin-top: 0px;
}
#p3{
  margin-top: 0px;
}

.search{
  display: flex;
  flex-direction: row;
  height: 70px;
  justify-content: center;
}



#searchbar{
  background-color: black;
  color: white;
  border-style:groove;
  height: 30px;
  align-items: center;
  justify-content: center;
  
  width: 250px;
  flex: 2;
  
}

.moviebox{
  width: 100vw;
  border-top: 10px groove rgb(8, 114, 181);;;
  border-left: 10px groove rgb(8, 114, 181);;
  border-right:10px groove rgb(8, 114, 181);;
  border-bottom:10px groove rgb(8, 114, 181);;
  border-color: rgb(8, 114, 181);
  border-style: groove;
  
  background-color: black;
  height: 800px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.topbar{
  display: flex;
  flex-direction: column;
  
  border-style: groove;
  height: 80px;
  width: 100%;
  align-items: center;
  text-align: center;
  font-size: 50px;
}

.filt_top{
  width: fit-content;
  display: flex;
  flex-direction: row;
}

.rightside{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  flex: 1;
}

#filter{
  height: 30px;
  width: fit-content;
}

#addrec{
  width: 130px;
  height: 30px;
}



.cardbox{
  display: flex;
  flex-direction: row;
  overflow:scroll;
  margin-top: 20px;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
}

.card_cont{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#ico1{
  height: 60px;
}

#pic1{
  height: 60px;
}

#pic2{
  height: 60px;
}

#pic3{
  height: 60px;
}



.extra_help{
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  width: 350px;
  margin-top: 10px;
  margin-bottom: 25px;
  height: 100%;
  overflow-y: hidden;
}

.d_owner{
  font-size: 10px;
  width: 90%;
  text-align: center;
  margin-top: 10px;

}

.movie_card{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  height: 230px;
  background-color: rgb(46, 44, 44);
  color: white;
  transition: border 0.3s ease;
  border: 5px solid black;
  justify-content: space-between;
  border-radius: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.movie_card:hover{
  border: 5px solid rgb(62, 176, 246);
  cursor: pointer;
}

#addrec:hover{
  border: 2px solid rgb(62, 176, 246);
}

.card_img{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  margin-left: 10px;
  margin-top: 0;
}

.new_img{
  width: 100%;
  height: 170px;
  margin-left: 5px;
  margin-bottom: 5px;
  border: 1px solid black;
}

.card_rightside{
  display: flex;
  flex-direction: column;
  width: 150px;
  overflow-x: hidden;
  overflow-y: hidden;
  align-items: center;
  margin-right: 10px;
  text-align: center;
}

.card_title{
  font-size: 20px;
  overflow-x: hidden;
}

.card_yearandgenre{
  font-size: 14px;
}

.deets{
  height: 100px;
  width: 150px;
  overflow-y: hidden;
  font-size: 12px;
  text-align: left;
}

.watchlist_sec{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-right: 20px;
}

.watchlist_buttons{
  display: flex;
  flex-direction: row;
  
}

#mid_divider{
  width:1px;
  height: 80px;
  background-color: white;
  
}

.b_watch{
  height: 8px;
  width: 8px;
}

.en_mid{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}

.like_box{
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#thumbsup{
  margin-right: 5px;
}

#thumbsup:hover{
  cursor: pointer;
}

#thumbsdown{
  margin-right: 5px;
}

#thumbsdown:hover{
  cursor:pointer;
}

#thumbsupe{
  margin-right:10px;
}

.like_buttons{
  display: flex;
  flex-direction: row;
}

.comment-section{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  margin-top: 20px;
}
.comment-box{
  display: flex;
  flex-direction: column;
  max-height: 300px;
  overflow-y:scroll;
  margin-top: 10px;
  width:100%;
}

.whole_comment{
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.comment_rightside{
  margin-left: 5px;
}

.comm_top{
  display: flex;
  flex-direction: row;
}

#comm{
  margin-right: 5px;
  width: 90%;
}

#plane:hover{
 cursor: pointer;
}

.en-deets{
  width: 100%;
  margin-top: 20px;
  text-align: left;
}

.add-com{
  display:flex;
  flex-direction: row;
  width: 100%;
}


#en-hr{
  width: 100%;
  height: 1px;
  background-color: white;
}

.en_card_rightside{
  margin-top: 10px;
  text-align: left;
  width: 100%;
}

.en_card_yearandgenre{
  text-align: center;
}

.en-content{
  overflow:scroll
}



.fullpage{
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,1) 34%, rgba(80,78,78,1) 94%);
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.home_title{
  margin-top: 80px;
  font-size: 80px;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.featuress{
  width: 100%;
  height:100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  align-items: center;
}

.featuress_top{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
}

.feat_text{
  text-align: center;
}

.home_info{
  display: flex;
  flex: wrap;
  width: 60vw;
  height: 100%;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: white;
  margin-top: 40px;
}

.form-toggle{
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  width: 50%;

  font-size: 20px;
  justify-content: space-evenly;
  align-items: center;
}

.form_butns{
  width: 50%;
  height: 60px;
  background-color: rgb(80, 78, 78);
  border-radius: 10px;;
  font-weight: bold;
  border: 1px solid black;
}

.form_butns:hover{
  background-color:rgb(62, 176, 246);
  transition: 0.3s ease-in;
}

.form_container{
  width: 30vw;
  margin-top: 20px;
  height: 300px;
  background-color: rgb(80, 78, 78);
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  justify-content: space-evenly;
}

.fom_title{
  font-size: 30px;
  font-weight: bold;
}

.form_inpt{
  border-radius: 5px;
  border-color: 1px solid black;
  color: black;
}

#get_start{
  width: 100%;
  height: 60px;
  background-color: rgb(62, 176, 246);
  border-radius: 10px;;
  font-weight: bold;
  border: 1px solid rgb(62, 176, 246);
  color: white;
  margin-top: 40px;
  margin-bottom: 40px;
}

#get_start:hover{
  background-color: rgb(11, 114, 178);
  transition: 0.3s ease-in;
}

.fom_act{
  width: 30%;
  background-color: black;
  height: 30px;
}

/*Media Queries */
@media only screen and (max-width: 430px) {
  .form_container{
    width: 70vw;
  }

  #ico1{
    height: 40px;
  }

  .navig{
    font-size: 40px;
  }

  .tag{
    font-size: 10px;
  }

  .featuress_top{
    font-size: 25px;

  }

  .feat_text{
    font-size: 15px;
  }

  .navig_support{
    flex-direction: column-reverse;
    height: fit-content;
  }
  
  .main_controls{
    width: 100%;
    height: 200px;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    margin-left: 20px;
  }

  .user_andinfo{
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
  }


  .movie_card{
    display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 390px;
  background-color: rgb(46, 44, 44);
  color: white;
  transition: border 0.3s ease;
  border: 5px solid black;
  justify-content: space-between;
  border-radius: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  }

  .extra_help{
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  margin-top: 10px;
  margin-bottom: 25px;
  height: 100%;
  }

  .moviebox{
    width: 85vw;
  }

  .card_rightside{
    margin-bottom: 15px;

  }
.card_title{
  overflow-x: visible;
}

.d_owner{
text-align: right;
}

#comm{
  margin-right: 5px;
  width: 85%;
}

.popovers{
  width: 60vw;
}

  
}